<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd">
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
    <servers>
        <server>
            <id>registry.hub.docker.com</id>
            <username>${env.DOCKERHUB_USERNAME}</username>
            <password>${env.DOCKERHUB_PASSWORD}</password>
            <configuration>
                <email>${env.EMAIL}</email>
            </configuration>
        </server>
        <server>
            <id>sonatype-nexus-snapshots</id>
            <username>eJjlCsNs</username>
            <password>U9+z8pZyFI0jk11dXcMX1DkFdCqlQKM+YELnymqcb7CV</password>
        </server>
        <server>
            <id>sonatype-nexus-release</id>
            <username>eJjlCsNs</username>
            <password>U9+z8pZyFI0jk11dXcMX1DkFdCqlQKM+YELnymqcb7CV</password>
        </server>
    </servers>
    <!--    <profiles>-->
    <!--        <profile>-->
    <!--            <id>sonatype-nexus</id>-->
    <!--            <activation>-->
    <!--                <activeByDefault>true</activeByDefault>-->
    <!--            </activation>-->
    <!--            <properties>-->
    <!--                <gpg.executable>gpg</gpg.executable>-->
    <!--                <gpg.passphrase>${env.OSSRH_GPG_SECRET_KEY_PASSWORD}</gpg.passphrase>-->
    <!--            </properties>-->
    <!--        </profile>-->
    <!--    </profiles>-->
</settings>
