<?xml version="1.0" encoding="UTF-8"?>
<settings
        xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
        xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode>true</interactiveMode>
    <offline>false</offline>
    <servers>
        <server>
            <id>registry.hub.docker.com</id>
            <username>${env.DOCKERHUB_USERNAME}</username>
            <password>${env.DOCKERHUB_PASSWORD}</password>
            <configuration>
                <email>${env.EMAIL}</email>
            </configuration>
        </server>
        <server>
            <id>ossrh</id>
            <username>${env.MAVEN_USERNAME}</username>
            <password>${env.MAVEN_PASSWORD}</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.passphrase>${env.OSSRH_GPG_SECRET_KEY_PASSWORD}</gpg.passphrase>
            </properties>
        </profile>
        <profile>
            <id>snapshot</id>
            <repositories>
                <repository>
                    <id>nexus-snapshot-repo</id>
                    <name>nexus-snapshot-repo</name>
                    <url>https://s01.oss.sonatype.org/content/repositories/snapshots/</url>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>release</id>
            <repositories>
                <repository>
                    <id>nexus-release-repo</id>
                    <name>nexus-release-repo</name>
                    <url>https://s01.oss.sonatype.org/service/local/staging/deploy/maven2/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

</settings>
